<div class="{{include.navclass}}">
	<a href="{{site.baseurl}}/index.html"  class="item {% if page.url == '/' %}active{% endif %}">
		Home
	</a>
	<a href="{{site.baseurl}}/news.html" class="item {% if page.url == '/news.html' %}active{% endif %}">
		News
	</a>
	<a href="{{site.baseurl}}/friends.html" class="item {% if page.url == '/friends.html' %}active{% endif %}">
		Blog
	</a>
	<a href="{{site.baseurl}}/friends.html" class="item {% if page.url == '/about.html' %}active{% endif %}">
		About
	</a>
	<a href="{{site.baseurl}}/friends.html" class="item {% if page.url == '/about.html' %}active{% endif %}">
		Contact
	</a>
</div>